DEBUG=
ALLOWED_HOSTS=
LANGUAGE_CODE=
TIME_ZONE=
SECRET_KEY=
DATABASE_URL=sqlite:///db.sqlite3
# PostgreSQL example:
# DATABASE_URL=postgresql://user:password@localhost:5432/ninja_portal
KEYCLOAK_INTROSPECT_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
